/* div, section, h1, h2, p, ul, a, img, header, .page {
  border: 0.5px solid blue;
} */

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: black;
  color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  position: relative;
}

/* header */

.header {
  width: 100%;
  max-width: 73.5%;
  min-height: 74px;
  margin: 45px auto 40px;
  background-image: url(./images/header__Line.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

