.form__save-button {
  margin-top: 48px;
  width: 358px;
  padding: 12.5px;
  background-color: black;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-radius: 3px;
  border: none;
}

.form__save-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form__save-button {
    width: 250px;
  }
}


