.profile__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  overflow: hidden;
}

@media (max-width: 1023px) {
    .profile__subtitle {
      line-height: 17px;
      text-align: center;
      margin-bottom: 0;
  }
}

@media (max-width: 320px) {
    .profile__subtitle {
      font-size: 14px;
  }
}
