.profile {
  max-width: 69%;
  display: grid;
  grid-template-columns: 120px 336px auto;
  grid-column-gap: 30px;
  margin: 0  auto 50px;
}

@media (max-width: 1023px) {
    .profile {
      max-width: 282px;
      display: flex;
      flex-direction: column;
      margin-bottom: 36px;
  }
}
