.add-button {
  width: 150px;
  min-height: 50px;
  background-image: url(../../images/add-button.svg);
  background-size: 22px 22px;
  background-position: center;
  background-color: black;
  border: 1px solid white;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: end;
}

.add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1023px) {
    .add-button {
      width: 282px;
  }
}
