.profile__title {
  margin-top: 20px;
  margin-bottom: 16px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
}

@media (max-width: 1023px) {
    .profile__title {
      font-size: 27px;
      min-height: 38px;
      text-align: center;
  }
}
