.form__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 41px;
}

@media (max-width: 600px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
