.photo-cards__like {
  width: 21px;
  height: 18px;
  border: none;
  background-image: url(../../../images/grid__like.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  outline: none;
}

.photo-cards__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
